<!DOCTYPE html>
<html>
<head>
	<meta content = "text/html; charset=UTF-8" http-eqiv="Content-Type">
	</head>
	<body>
		<h1>Colegio Pitágoras</h1>
		<p>El alumno</p><p><%= @suscripcion.nombre %>
		<p>Se ha suscrito a su lista de correos,</p>	
		<br/>
		<p>con el siguiente correo:</p>
		<p><%= @suscripcion.email %><br/></p>
	</body>
</html>