<div class="row">
  <div class="large-12 columns">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="#">
                Pitagoras
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
           <li><%= link_to 'Profesores', profesores_login_path  %></li>
            <li><%= link_to 'Estudiantes', estudiantes_login_path  %></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="hide-for-small">
        <div id="featured">
              
               <%= image_tag "UCAB.png" %>
          </div>
        </div>
    <div class="row">
      <div class="small-12 show-for-small"><br>
        <img src="http://placehold.it/1000x600&text=For Small Screens"/>
      </div>
    </div>
   </div>
  </div>
  <br> 
  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright MJRuby</p>
        </div>
      </div>
    </div>
  </footer>
    