<div class="row">
  <div class="large-12 columns">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="#">
                Pitagoras
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
           <li><a href="#">Estudiante</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <br/>
      <h3>Esta es tu sección estudiante, para comenzar elige una opción:</h3>
      <br/>
      <br/>
      <br/>
    </div>
  </div>


<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 small-6 columns">
        <div class="large-3 small-6 columns">
          <%= image_tag "notas.png" %>
        </div>                     
        <p class="subheader"> <%= link_to 'Notas', archivos_estudiante_notas_path  %></p>
        
      </div>
      <div class="large-3 small-6 columns">       
      </div>
    </div>
  </div>
</div>


<br/ >
<br/ >

<div class="row">
    <div class="large-12 columns">
      <div class="row">
 
        <div class="large-4 small-6 columns">
          <div class="large-3 small-6 columns">
            <%= image_tag "correo.jpg" %>
          </div> 
          <p class="subheader"><%= link_to 'Subscripción a correos', suscripciones_inicio_path  %></p>
        
        </div>
        
        <div class="large-3 small-6 columns">
        </div>
      </div>
    </div>   
</div>








  <div class="large-1 small-7 columns">
    
  </div>
  <br> 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright MJRuby</p>
        </div>
      </div>
    </div>
  </footer>
    